@media screen and (max-width: 1200px){
    .tabhide{
        display: none;
    }

    .righthead{
        padding: 100px 50px;
    }
    .righthead h1{
        font-size: 70px;
    }
    .righthead pre{
        font-size: 16px;
    }
    .righthead h2{
        font-size: 40px;
    }
    .righthead p{
        font-size: 16px;
    }
    .righthead .abutton{
        font-size: 24px;
    }


    .about{
        margin: 0;
        padding: 100px 6vw;
    }
    .about h5{
        font-size: 24px;
    }
    .about h3{
        font-size: 50px;
    }
    .about h6{
        font-size: 16px;
    }
    .about article{
        font-size: 14px;
    }
    .about h4{
        font-size: 30px;
    }

    .categories{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'intro intro intro' '. . .' '. . .' '. . .' '. more more';
        row-gap: 50px; column-gap: 60px;
    }
    .cghead{
        width: 90vw;
    }
    .cghead h3{
        font-size: 70px;
    }
    .cghead p{
        font-size: 20px;
    }
    .cghead div{
        font-size: 26px;
    }
    .category{
        margin: 0;
    }
    .category h4{
        font-size: 24px;
    }
    .category .abutton{
        font-size: 14px;
    }
    .more{
        margin: 0;
        position: relative;
        padding: 20px;
    }
    .more img{
        height: 150px;
        position: absolute;
        right: 0; bottom: 0;
    }
    .more h5{
        font-size: 40px;
    }
    .more p{
        font-size: 14px;
        position: relative;
        z-index: 2;
    }
    .more .abutton{
        font-size: 18px;
    }

    .sideInfo h5{
        font-size: 20px;
    }
    .sideInfo h4{
        font-size: 80px;
    }
    .sideInfo p{
        font-size: 15px;
    }
    .sideInfo h6{
        font-size: 28px;
    }
    .sideInfo li{
        font-size: 14px;
    }
    .categoryJudges h6{
        font-size: 12px;
    }
    .categoryJudges p{
        font-size: 12px;
    }
    .sideInfo .abutton{
        font-size: 20px;
    }

    .cbevent{
        padding: 50px 2vw 150px;
    }
    .cbevent h3{
        font-size: 70px;
    }
    .cbevent h4{
        font-size: 34px;
    }
    .cbevent h5{
        font-size: 20px;
    }
    .cbevent p{
        font-size: 15px;
    }
    .cbevent h6{
        font-size: 20px;
    }
    .cblink{
        font-size: 18px;
    }
    .cbright p{
        font-size: 16px;
    }
    .cbright{
        width: 84%;
    }
    .cbright p{
        width: 90%;
    }
    .cbright .fa{
        font-size: 24px;
    }

    .criteria{
        padding: 0 4vw 100px;
    }
    .ctright h3{
        font-size: 50px;
    }
    .ctnum{
        padding: 0 0 0 20px;
    }
    .ctnum p{
        font-size: 15px;
    }

    .topclass aside{
        padding: 20px 30px 20px 40px;
    }
    .topclass h5{
        font-size: 50px;
    }
    .topclass p{
        font-size: 15px;
    }
    .topclass article{
        font-size: 18px;
    }

    .finale{
        padding: 0 3vw;
    }
    .finale h3{
        font-size: 60px;
    }
    .finale section{
        column-gap: 10px;
    }
    .perk p{
        font-size: 15px;
    }

    .faq h3{
        font-size: 60px;
    }
    .faq article{
        font-size: 16px;
    }
    .faqhead h5{
        font-size: 20px;
    }
    .faq h6{
        font-size: 18px;
    }
    .faq p{
        font-size: 16px;
    }

    .guesthead h3{
        font-size: 50px;
    }
    .guesthead > p{
        font-size: 16px;
    }
    .guesthead{
        padding: 80px 3vw;
        margin: 50px 0 800px;
    }
    .guesthead section{
        column-gap: 20px;
        row-gap: 10px;
    }
    .guest h5{
        font-size: 19px;
    }
    .guest p{
        font-size: 14px;
    }

    .ender{
        padding: 300px 8vw 300px;
    }
    .ender h4{
        font-size: 50px;
    }
    .ender p{
        font-size: 20px;
    }
    #art3{ right: 0; height: 35vh; }
    #art5{ height: 18vh; }
    #art4{ height: 13vh; }
    
}

@media screen and (max-width: 900px){
    .tabhide{
        display: none;
    }

    header{
        background: url(resources/tabbg.png);
        background-size: cover;
    }
    .righthead{
        padding: 10px;
        text-align: center;
    }
    .righthead h1{
        font-size: 10vw;
    }
    .righthead h2{
        padding-top: 20px;
        font-size: 5vw;
    }
    .righthead p{
        padding: 40vh 50px 0;
    }
    .righthead .abutton{
        top: 0;
    }

    .about{
        margin: 0;
        padding: 100px 30px;
    }
    .about article{
        padding: 30px 1vw;
    }

    .categories{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'intro intro intro' '. . .' '. . .' '. . .' '. more more';
        padding: 80px 5%;
        row-gap: 30px; column-gap: 30px;
    }
    .cghead{
        width: 95vw;
    }
    .category{
        margin: 0;
    }
    .more{
        margin: 0;
        position: relative;
        padding: 20px;
    }
    .more img{
        height: 120px;
        position: absolute;
        bottom: 0; right: 0;
    }
    .more h5{
        font-size: 35px;
        padding-bottom: 10px;
    }
    .more p{
        font-size: 14px;
        position: relative;
        z-index: 2;
    }

    .categoryScreen{
        grid-template-columns: 1fr;
    }
    .categoryScreen .sideImage{
        height: auto;
    }
    .categoryJudges{
        width: 150px;
    }

    .cbevent{
        grid-template-columns: 1fr;
        grid-template-areas: 'header' '.' '.';
        padding: 120px 0;
    }
    .cbevent h3{
        text-align: center;
    }
    .cbevent .cblogo{
        width: 14vw;
    }
    .cbevent .tmmlogo{
        width: 25vw;
    }
    .cbright{
        margin: 80px auto 0;
        width: 101%;
    }
    .cbright p{
        width: 65%;
        top: 0; left: 0;
        margin: auto;
        font-size: 14px;
        transform: scale(1.15);
    }

    .criteria{
        grid-template-columns: 1fr;
    }
    .criteria img{
        display: none;
    }
    .ctright{
        padding: 0;
    }
    .ctnum{
        padding: 0 20px;
    }
    .ctnum p{
        top: 40px;
    }

    .topclass{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .topclass div{
        margin-right: 100px;
        margin-bottom: 50px;
    }
    .topclass img{
        width: 20%;
        margin-right: 25vw;
        transform: scale(2.2);
    }
    .topclass aside{
        padding: 20px 5vw;
    }

    .finale{
        padding: 0 20px;
    }
    .finale h3{
        font-size: 50px;
        text-align: center;
    }
    .finale section{
        column-gap: 20px;
    }
    .perk p{
        font-size: 14px;
    }

    .faq{
        margin: 0 2vw 200px;
    }
    .faq section{
        padding: 10px 5%;
    }
    .faq p{
        padding: 10px;
    }

    .guesthead{
        padding: 60px 0;
        margin: 50px 0 1130px;
    }
    .guesthead h3{
        font-size: 44px;
    }
    .guesthead > p{
        font-size: 18px;
    }
    .guesthead section{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0 20px;
        column-gap: 10px;
    }

    .ender{
        padding: 340px 5vw 300px;
    }
    .ender h4{
        font-size: 44px;
    }
    #art3{ height: 29vh; right: 0; }
    #art4{ height: 11vh; }
    #art5{ height: 17vw; }
}

@media screen and (min-width: 1800px){
    .righthead{
        padding: 100px;
    }
    .righthead h1{
        font-size: 100px;
        letter-spacing: 5px;
    }
    .righthead pre{
        font-size: 24px;
    }
    .righthead h2{
        padding-top: 100px;
        font-size: 50px;
    }
    .righthead p{
        font-size: 20px;
    }
    .righthead .abutton{
        font-size: 30px;
        padding: 12px 60px;
    }

    .about h5{
        font-size: 36px;
    }
    .about h3{
        font-size: 70px;
    }
    .about h6{
        font-size: 20px;
    }
    .about article{
        font-size: 20px;
    }
    .about h4{
        font-size: 40px;
    }
    .aboutright p{
        font-size: 18px;
    }
    .about img{
        height: 200px;
    }
    .aboutright #art8{
        height: 160px;
    }

    .tabhide{
        display: none;
    }
    .categories{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 'intro intro . . .' '. . . . .' '. . more more more';
    }
    .cghead{
        width: 130%;
    }

    .sideInfo h5{
        font-size: 26px;
    }
    .sideInfo h4{
        font-size: 100px;
    }
    .sideInfo p{
        font-size: 18px;
    }
    .sideInfo h6{
        font-size: 36px;
    }
    .sideInfo li{
        font-size: 20px;
    }
    .categoryJudges h6{
        font-size: 20px;
    }
    .categoryJudges p{
        font-size: 16px;
    }
    .sideInfo .abutton{
        font-size: 30px;
        padding: 10px 50px;
    }

    .cbevent h3{
        font-size: 90px;
    }
    .cbevent h4{
        font-size: 44px;
    }
    .cbevent h5{
        font-size: 24px;
    }
    .cbevent p{
        font-size: 17px;
    }
    .cbevent h6{
        font-size: 24px;
    }
    .cbevent span{
        font-size: 26px;
    }
    .cblink{
        font-size: 22px;
    }

    .criteria img{
        width: 90%;
    }
    .ctright h3{
        font-size: 70px;
    }
    .ctnum p{
        font-size: 20px;
    }

    .topclass{
        margin: 50px 0 200px;
    }
    .topclass h5{
        font-size: 80px;
    }
    .topclass p{
        font-size: 18px;
    }
    .topclass article{
        font-size: 24px;
    }

    .finale h3{
        font-size: 70px;
    }
    .perk img{
        width: auto;
        height: 200px;
    }
    .perk p{
        font-size: 18px;
    }

    .faq h3{
        font-size: 90px;
    }
    .faq article{
        font-size: 20px;
    }
    .faqhead h5{
        font-size: 26px;
    }
    .faq h6{
        font-size: 22px;
    }
    .faq p{
        font-size: 18px;
    }

    .guesthead{
        height: 400px;
        margin-bottom: 1300px;
    }
    .guesthead h3{
        font-size: 80px;
    }
    .guesthead > p{
        font-size: 22px;
    }
    .guesthead section{
        column-gap: 2vw; row-gap: 2vw;
        padding: 0 5vw;
    }
    .guest{
        padding: 20px;
    }
    .guest img{
        max-width: 280px;
        margin: auto;
    }

    .ender{
        padding: 350px 10vw 400px;
    }
    .ender h4{
        font-size: 90px;
    }
    .ender p{
        font-size: 24px;
    }
    .ender .abutton{
        font-size: 40px;
        padding: 14px 100px;
    }
    #art3{height: 36vh; right: 5px;}
    #art4{height: 14vh;}
    #art5{height: 18vh;}
}