header{
    box-sizing: border-box;
    height: 100vh; width: 100vw;
    background: url(resources/mainbg.png);
    background-size: cover;
}
nav{
    width: 100vw; height: 80px;
    padding: 0 5%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-content: center;
    box-shadow: 0 0 15px #0008;
}
nav img{
    width: 60px; height: 60px;
    display: block;
    margin: auto 0;
}
nav h2{
    font-size: 40px;
    align-self: center;
    margin: 0 20px;
}
nav div{
    height: 100%;
    justify-self: right;
    margin-left: 40px;
}
nav div a{
    padding: 40px 10px;
    margin: auto 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: raleway, Arial, Helvetica, sans-serif;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    top: -4px;
}
nav .activenav{
    border-bottom: 4px solid #0652dd;
}

.righthead{
    text-align: right;
    padding: 60px 100px;
    color: white;
}
.righthead img{
    display: none;
}
.righthead h1{
    font-size: 80px;
    letter-spacing: 2px;
    word-spacing: 15px;
}
.righthead pre{
    position: relative;
    top: -20px;
    font-size: 18px;
}
.righthead h2{
    font-size: 44px;
    padding-top: 50px;
}
.righthead p{
    box-sizing: border-box;
    padding-left: 50vw;
    margin: 20px 0;
    text-shadow: 0 0 5px #0003;
}
.righthead .abutton{
    font-weight: bold;
    padding: 8px 30px;
    font-size: 24px;
    color: black;
    position: relative;
    top: 4vh;
}

.about{
    margin: 50px 0;
    padding: 100px 10vw;
    text-align: center;
}
.about section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'aboutleft aboutright';
    box-shadow: 0 0 45px #0007;
}
.about section.dark{
    box-shadow: 0 0 30px #000;
}
.about h5{
    font-size: 24px;
    padding-top: 60px;
}
.about h3{
    font-size: 50px;
    padding-top: 40px;
}
.about h6{
    font-size: 16px;
    font-weight: normal;
    padding: 0 5vw 30px;
}
.about article{
    font-size: 14px;
    padding: 30px 4vw 60px;
}
.about article.dark{
    color: #ccc;
}
.aboutright p{
    padding: 10px ;
}
.about img{
    display: block;
    margin: 15px auto;
    height: 150px;
}
.about h4{
    font-size: 30px;
}
.aboutleft{
    grid-area: aboutleft;
    background-color: white;
}
.aboutleft.dark{
    background-color: #222;
    color: white;
}
.aboutright{
    position: relative;
    grid-area: aboutright;
}
.aboutright #art8{
    position: absolute;
    bottom: 0; right: 20px;
    height: 120px;
    margin: 0;
}

.categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 80px 10%;
    grid-template-areas: 'intro intro . .' '. . . .' '. . . .' '. more more more';
    row-gap: 80px;
    column-gap: 3vw;
}
.cghead{
    grid-area: intro;
    width: 48vw;
    transform: translateX(-10vw);
    padding: 30px 50px 30px 10vw;
    box-sizing: border-box;
    border-radius: 0 300px 300px 0 ;
}
.cghead h3{
    font-size: 70px;
}
.cghead p{
    font-size: 20px;
    padding: 20px 0;
    color: #444;
}
.cghead div{
    font-size: 26px;
}
.category{
    padding-bottom: 15px;
    text-align: center;
    box-shadow: 0 0 25px #0005;
    transition: 0.3s;
    background-color: #fff;
    margin: 0 20px;
}
.category.dark{
    background-color: #ddd;
    box-shadow: 0 0 20px black;
}
.category:hover{
    transform: scale(1.02);
    box-shadow: 0 0 35px #0008;
}
.category img{
    width: 100%;
    margin: 0 auto;
}
.category h4{
    font-family: raleway, Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 10px 0;
}
.category .abutton{
    font-size: 14px;
    padding: 2px 10px;
    cursor: pointer;
}
.category .abutton:hover{
    background-color: #0652dd;
    color: white;
}
.categories .fa{
    padding-left: 5px;
}
.more{
    grid-area: more;
    display: grid;
    background-color: #fff;
    margin: 0 20px;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 25px #0004;
    grid-template-columns: 1fr auto;
    transition: 0.3s;
}
.more.dark{
    background-color: #222;
    box-shadow: 0 0 20px black;
    color: white;
}
.more:hover{
    transform: scale(1.02);
    box-shadow: 0 0 35px #0006;
}
.more.dark:hover{
    box-shadow: 0 0 30px #000;
}
.more img{
    height: 100%;
}
.more h5{
    font-size: 45px;
    word-spacing: 6px;
    padding-bottom: 20px;
}
.more p{
    padding: 5px 0;
    color: #555;
}
.more p.dark{
    color: #ccc;
}
.more .abutton{
    padding: 5px 20px;
    margin-top: 20px;
    font-size: 18px;
    color: black;
}

.categoryScreen{
    display: grid;
    transition: inherit;
    /* display: none; */
    grid-template-columns: 1fr 2fr;
    position: fixed;
    bottom: -120vh; left: 5vw; z-index: 100;
    height: 90vh; width: 90vw;
    background-color: #eee;
    border: 1px solid black;
    box-shadow: 0 0 200px #000, 0 0 80px #000;
}
.categoryScreen.dark{
    background-color: #111;
    color: white;
    box-shadow: 0 0 200px #000, 0 0 80px #000, 0 0 20px #000;
}
.categoryScreen .sideImage{
    display: block;
    height: 100%;
    width: 100%;
}
#minimizeCategory{
    position: absolute;
    top: 10px; right: 20px;
    font-size: 30px;
    cursor: pointer;
}
.sideInfo{
    padding: 50px; 
    overflow-y: scroll;
    margin: 2px 0;
}
.sideInfo::-webkit-scrollbar { width: 10px; }
.sideInfo::-webkit-scrollbar-track { background: none; }
.sideInfo::-webkit-scrollbar-thumb { background: #0652dd; border-radius: 5px; }
.sideInfo::-webkit-scrollbar-thumb:hover { background: #043eab; }
.sideInfo h5{
    font-size: 20px;
}
.sideInfo h4{
    font-size: 80px;
}
.sideInfo p{
    font-size: 15px;
    padding: 20px 0;
    color: #333;
}
.sideInfo.dark p{
    color: #aaa;
}
.sideInfo h6{
    font-size: 28px;
    margin: 30px 0 10px;
}
.sideInfo ul{
    padding-left: 1em;
}
.sideInfo li{
    color: #222;
    font-size: 14px;
    list-style: none;
    padding: 2px 0;
}
.sideInfo li::before {
    content: "\2022"; 
    color: #0652dd;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
.sideInfo.dark li{
    color: #aaa;
}
.sideInfo section{
    display: flex;
    flex-wrap: wrap;
}
.categoryJudges{
    width: 10vw;
    text-align: center;
    padding: 10px 0;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px #0005;
}
.categoryScreen.dark .categoryJudges{
    background-color: #222;
    box-shadow: 0 0 30px #000;
}
.categoryJudges img{
    width: 70%;
    margin: 0 auto 10px;
    border-radius: 50%;
}
.categoryJudges h6{
    margin: 10px 0;
    font-size: 16px;
    font-family: raleway;
}
.sideInfo .abutton{
    background-color: #0652dd;
    color: white;
    padding: 5px 40px;
    font-weight: bold;
    margin: 50px 0 30px;
    font-size: 20px;
}

.cbevent{
    padding: 150px 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-template-areas: "header header" " . . ";
}
.cbevent.dark{
    color: white;
}
.cbevent h3{
    position: relative;
    font-size: 70px;
    word-spacing: 8px;
    text-align: left;
    grid-area: header ;
}
.cbevent .cblogo{
    width: 10vw;
    display: block;
    margin: 50px auto 20px;
}
.cbevent .tmmlogo{
    width: 15vw;
    display: block;
    margin: 10px auto;
}
.cbevent h4{
    font-size: 34px;
}
.cbevent h5{
    font-size: 20px;
    color: #222;
    font-weight: normal;
}
.cbevent h5.dark{
    color: #ddd;
}
.cbevent p{
    font-size: 15px;
    padding: 15px 30px;
    color: #555;
}
.cbevent p.dark{
    color: #999;
}
.cblink{
    font-size: 18px;
    color: #0652dd;
}
.cblink .fa{
    padding-right: 8px;
}
.cbevent h6{
    font-size: 20px;
    margin-top: 60px;
}
.cbright{
    background-color: #0652dd;
    width: 120%;
    margin-left: 20%;
    height: fit-content;
}
.cbright p{
    width: 65%;
    font-size: 18px;
    padding: 20px ;
    color: black;
    position: relative;
    top: 50px; left: -50px;
    box-shadow: 0 0 20px #0005, 20px 20px 5px #0004;
}
.cbright p.dark{
    color: black;
    box-shadow:  0 0 20px #0007, 20px 20px 5px #0007;
}
.cbright .sleft{
    display: block;
    text-align: left;
}
.cbright .sright{
    display: block;
    text-align: right;
}
.cbright .fa{
    font-size: 24px;
}

.criteria{
    display: grid;
    grid-template-columns: 20vw auto;
    padding: 50px 10vw 100px;
}
.criteria.dark{
    color: white;
}
.criteria img{
    display: block;
    width: 100%;
    margin: 50px 0;
}
.ctright{
    padding: 30px 20px 50px 30px;
    border-radius: 0 100px 100px 0;
}
.ctright h3{
    font-size: 50px;
}
.ctnum{
    border-left: 4px solid;
    padding: 20px 25px 0 20px;
    margin-left: 10px;
}
.ctnum.dark{
    color: #ccc;
}
.ctnum p{
    padding: 10px 0;
    font-size: 18px;
    position: relative;
    top: 15px;
}
.ctnum p::before{
    content: '';
    position: absolute;
    left: -32px;
    top: 15px;
    background: #0652dd;
    height: 20px; width: 20px;
    border-radius: 50%;
}

.topclass{
    margin: 0 0 150px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.topclass.dark{
    color: white;
}
.topclass div{
    border-left: none;
    border-radius: 0 200px 200px 0;
}
.topclass img{
    width: 40%;
    margin: auto;
    margin-right: 100px;
    display: block;
    padding: 20px;
    transform: scale(1.8);
}
.topclass aside{
    padding: 20px 10vw 20px 50px;
}
.topclass h5{
    font-size: 70px;
}
.topclass p{
    padding: 20px 0;
    font-size: 15px;
    color: #333;
}
.topclass.dark p{
    color: #aaa;
}
.topclass article{
    font-size: 18px;
}

.finale{
    margin-bottom: 150px;
    padding: 0 10vw;
    clear: both;
}
.finale h3{
    font-size: 60px;
}
.finale.dark h3{
    color: white;
}
.finale section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px; row-gap: 10px;
}
.perk img{
    width: 90%;
    margin: 30px auto 10px;
}
.perk p{
    text-align: center;
    font-size: 16px;
}
.finale.dark p{
    color: #ccc;
}

.faq{
    margin: 0 10vw 200px;
}
.faq.dark{
    color: #fff;
}
.faq h3{
    font-size: 60px;
    text-align: center;
}
.faqhead{
    display: flex;
}
.faqhead h5{
    width: 32%;
    margin: 0 0.5%;
    text-align: center;
    border-bottom: 1px solid #0652dd;
    font-family: raleway, Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding:30px 0 5px;
    cursor: pointer;
    color: #333;
}
.faq.dark h5{
    color: #aaa;
}
.faq .faqhead .activefaq{
    border-bottom: 5px solid #0652dd;
    cursor: default;
    color: inherit;
}
.faq section{
    padding: 20px 1%;
    display: none;
}
.faq section:nth-of-type(1){
    display: block;
}
.faqbody{
    border-bottom: 2px solid #999;
    padding: 10px;
    cursor: pointer;
}
.faq h6{
    font-size: 18px;
}
.faq .fa{
    float: right;
    margin: 10px;
}
.faq p{
    font-size: 16px;
    padding: 10px 10px 0 40px;
    color: #333;
    display: none;
}
.faq.dark p{
    color: #bbb;
}

.guesthead{
    text-align: center;
    margin: 50px 0 850px;
    padding: 100px 10vw;
    height: 400px;
}
.guesthead h3{
    font-size: 60px;
}
.guesthead > p{
    font-size: 20px;
    padding: 30px 0 100px;
    color: #333;
}
.guesthead section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 4vw;
    row-gap: 60px;
}
.guest.dark{
    background-color: #222;
    color: white;
    box-shadow: 0 0 30px black;
}
.guest.dark p{
    color: #ddd;
}
.guest{
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 0 30px #0005;
    position: relative;
    z-index: 5;
}
.guest hr, .categoryJudges hr{
    margin: 10px 10%;
}
.guest.dark hr{
    background-image: linear-gradient(to right, #fff0, #ffff, #fff0);
}
.guest img{
    width: 100%;
    display: block;
    border-radius: 50%;
    border: 1px solid #0003;
}
.guest h5{
    font-family: raleway, Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 20px 0 5px;
}
.guest p{
    font-size: 15px;
    color: #555;
}

.ender{
    padding: 320px 10vw 350px;
    text-align: center;
    position: relative;
}
.ender h4{
    font-size: 70px;
    word-spacing: 8px;
}
.ender p{
    padding: 50px 0;
    font-size: 20px;
}
.ender .abutton{
    font-size: 30px;
    background-color: #0652dd;
    color: white;
    font-weight: bold;
    padding: 10px 50px;
}
#art3, #art4, #art5{
    position: absolute;
}
#art3{
    right: 10px; bottom: 0;
    height: 50vh;
}
#art4{
    left: 42vw; bottom: 0;
    height: 20vh;
}
#art5{
    left: 0; bottom: 0;
    height: 30vh;
}